<th>Cart</th>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
  <% @cart_items.each do |i| %>
    <tr>
      <div class="well">
        <div class="row">
          <div class="col-xs-8">
            <td class ="title"> <%= i.title %>
          </div>
          <div class="col-xs-4">
            <td class ="quantity">Quantity: <%= i.quantity %>
          </div>
          <div class="input-field col s1">
            <td class="text-center" id="update_quantity">
              <%= form_tag cart_items_path, method: :put do %>
              <%= hidden_field_tag :item_id, i.id %>
              <%= number_field_tag 'quantity', i.quantity, within: 1...10 %>
              <%= submit_tag "Update" %>
              <% end %>
            </td>
          </div>
      <td class="Remove"><%= link_to "Remove", cart_items_path(item_id: i.id), method: :delete%></td>
    </tr>
  <% end %>
  </div>
</div>
