<div class="container">

<% if current_admin %>
  <div class="row">

    <div class="col s3 offset-s10">
      <%= link_to "Add Item", new_item_path, class: "waves-effect waves-light btn black" %>
    </div>
  </div>
<% end %>
</div>

  <div class="row">
    <% Category.all.each do |category| %>
    <div class="category-container col s10 offset-s2" id='<%="#{category.name}"%>-container'>

      <h3 class="category-titles">
        <%= category.name %>
      </h3>

      <% category.items.map do |item| %>
      <div class="col s3 item-info">
        <%= image_tag item.item_image(:medium), class: "item-images" %>
        <h6 class="item-titles"><%= link_to item.title, item_path(item) %></h6>
        <p><%= item.description %></p>
        <p><%= number_to_currency item.price %></p>
      </div>
      <% end %>
      <br>
    </div>
    <% end %>
  </div>
