<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 id="add-item-title">Add A New Item Below</h4>
    </div>
  </div>

  <%= form_for :item do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label      :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label      :description %>
      <%= f.text_area  :description, class: "materialize-textarea" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label      :price %>
      <%= f.text_field :price %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label      :image %>
      <%= f.text_field :image %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s2">
      <%= f.submit     "Add Item", class: "waves-effect waves-light btn black" %>
    </div>
  <% end %>
    <div class="input-field col s2">
      <%= link_to      "Cancel",
                       store_path, class: "waves-effect waves-light btn black" %>
    </div>
  </div>
</div>
