<% if current_admin %>
  <div class="row">

    <div class="col s3 offset-s8">
      <%= link_to "Edit Item", edit_item_path(@item), class: "waves-effect waves-light btn black" %>
      <%= link_to "Delete Item", item_path(@item), method: :delete, class: "waves-effect waves-light btn black" %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col s2 offset-s1 item-info">
    <h4 id="item-title"><%= @item.title %></h4>
    <p>Description: <%= @item.description %></p>
    <p>Price: <%= number_to_currency @item.price %></p>
    <p>Category: <%= @item.category.name %></p>
    <%= button_to "Add to cart", cart_items_path(item_id: @item.id), class: "waves-effect waves-teal btn" %>
  </div>
  <div class="col s9 large-item-image"><%= image_tag @item.item_image(:large) %></div>
</div>
