<!DOCTYPE html>
<html>
<head>
  <title>+Warrior Status+</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<!-- <div id="push"></div> -->
<%= render partial: "layouts/navbar" %>

<%= yield %>

</body>
</html>
